#chrome-scrum-extension * {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
}

#chrome-scrum-extension {
  align-items: center;
  background: white;
  border-radius: 0 0 8px 8px;
  display: flex;
  height: 48px;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

#chrome-scrum-extension > * {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  position: relative;
}

#chrome-scrum-extension button {
  cursor: pointer;
  background: transparent;
  border: 0;
  margin: 0;
  color: black;
}

#chrome-scrum-extension button:hover {
  background-color: rgba(0, 121, 107, 0.04);
}

#chrome-scrum-extension > *:not(:first-child):before {
  background: #f1f3f4;
  content: "";
  height: 24px;
  width: 1px;
  position: absolute;
  left: 0;
}

#chrome-scrum-extension .current-user p {
    margin-left: 12px;
}

#chrome-scrum-extension .current-user img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
