#chrome-scrum-extension * {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

#chrome-scrum-extension {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 0 0 8px 8px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    background: white;
    z-index: 1;
}

#chrome-scrum-extension button, #chrome-scrum-extension > div {
    color: black;
    border: 0;
    background: transparent;
    padding: 12px 24px;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    
}

#chrome-scrum-extension button:hover {
    background-color: rgba(	0, 121, 107, 0.04);
}